#slider {
    position: relative;
	width: 100%;
}

#templatemo_wrapper {
	width: 800px;
	margin: 0 auto;
	background: url(../images/templatemo_body.jpg) no-repeat top center;
}

#templatemo_social {
	width: 800px;
	height: 50px;
}

#templatemo_main {
	clear: both;
	width: 800px;
	padding: 30px 0;
	height: 580px;
}

#templatemo_sidebar {
	float: left;	
	width: 320px;
}

#templatemo_content {
	float: right;
	width: 480px;
}

#header h1 { display: block; width: 315px; height: 166px; margin: 0 auto 80px; padding: 0 }
#header h1 a { float: left; margin-top: 25px; width: 315px; height: 166px; background: url(../images/templatemo_logo.png); text-indent: -10000px; }
#homepagelogo { float: left; margin-top: 25px; width: 315px; height: 166px; background: url(../images/templatemo_homepagelogo.png); text-indent: -10000px; }
#gdsxlogo { float: left; margin-top: 25px; width: 316px; height: 173px; background: url(../images/templatemo_gdsxlogo.png); text-indent: -10000px; }

#menu {
	clear: both;
	float: right;
}

#templatemo_footer {
	clear: both;
	float: right;
	width: 360px;
	margin: 20px 40px;
	padding: 20px;
	text-align: left;
	/*background: #070105;*/
	/*border: 1px solid #26071d;*/
}
#templatemo_footer a {
	color: #fff;
}

.scroll {
    width: 480px;
    height: 580px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: relative;
    clear: left;

}

.scrollContainer div.panel {
    width: 400px;
    height: 500px;
	padding: 40px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	float: right;
	padding: 8px 15px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	color: #fff;
	text-align: right;
}

ul.navigation a:hover, ul.navigation a.selected {
	background: #0f020b
}

ul.navigation a:focus {
    outline: none;
}

ul.tmo_list li{
	font-size:16px
	
}


.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}

/*-------补充*/
.text{
	text-align:center;
	font-size:30pt;
	margin:30px;
	color:white;
}

ul.delete_list li{
	list-style-type:none;
	font-size:14pt;
	margin:20px;
	
}

