/*
Credit: #
*/

body {
	margin: 0px;
	padding: 0px;
	color: #a2979e;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #0f020b;
	background-image: url(images/templatemo_body.jpg);
	/*background-repeat: no-repeat;*/
	background-position: top
}

a, a:link, a:visited { color: #ff58ff; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #fff; }
h1 { font-size: 30px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; padding-bottom: 20px; margin: 0 0 30px 0; font-weight: normal; background: url(images/templatemo_divider.png) bottom repeat-x }
h3 { font-size: 24px; margin: 0 0 30px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 16px; margin: 0 0 30px 0; padding: 0; }
h5 { font-size: 12px; margin: 0 0 10px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; border: 1px solid #2f2824; padding: 9px; margin-bottom: 10px; background: #000000 }
.image_fl { float: left; margin: 3px 20px 0 0 }
.image_fr { float: right; margin: 3px 0 0 20px }

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite a, cite a:link, cite a:visited  { font-weight: normal; color:#fff; }
cite span { font-weight: 400; color: #ccc; }
em { color: #fff; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat; margin:0 0 20px; padding: 0 0 0 25px; line-height: 1em; }
.tmo_list li a { color: #ff58ff; }
.tmo_list li a:hover { color: #fff; }

.post_box { clear: both; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px dotted #999999 }
.post_header { border-top: 3px solid #999; border-bottom: 1px solid #ccc; padding: 5px; margin-bottom: 20px }
.post_box h2 { font-size: 22px; margin-bottom: 15px; background: none; padding-bottom: 5px }
.post_box h2 a { color: #fff }
.post_box p.post_meta { margin-bottom: 0 }
.post_box img { float: left; margin-right: 20px }

#contact_form {  padding: 0; width: 340px; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 240px; padding: 2px 5px; color: #fff; background: #070105; border: 1px solid #660044; }
#contact_form form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; }
#contact_form form textarea { width: 328px;  height: 80px; color: #fff; padding: 5px; background: #070105; border: 1px solid #660044; }

.submit_btn { padding: 5px 10px; color: #fff; background: #330022; border: 1px solid #660044; }